# cache
.cache/
**/Cache/
**/GPUCache/
**/.cache/
**/cache/
fcitx5/conf/cached_layouts

# apps
discord/
Electron/
spotify/
ZaloData/
ZaloPC/
node_modules/

# browser
.mozilla/
mozilla/
zen/

# binaries
*.node
*.so

# logs
*.log
*.db
*.db-shm
*.db-wal

# secrets
.env
*.pem
*.key
*token*
*secret*
hosts.yml
cookies.sqlite
key4.db
logins.json
fish_history
